@import '../../styles/colors.scss';
@import '../../styles/sizing.scss';

.suggestionForm {
  border-radius: 20px;
  display: flex;
  margin: 0 auto;
  width: 75%;

  form {
    width: 100%;


    .fieldContainer {
      display: flex;
      margin-bottom: 25px;
    }

    .successText {
      animation: fadeIn 1s;
      color: $successGreen;
      margin-bottom: 20px;
      text-align: left;
    }
  }
}

@media screen and (max-width: $minPageWidth) {
  .suggestionForm {
    width: 90%;

    .fieldContainer {
      width: 100%;
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}