@import '../../styles/sizing.scss';

.content {
  min-height: 100vh;

  p, a {
    font-size: 2.5vw;
  }

  a {
    text-decoration: underline;
  }

  .addons {
    padding-bottom: 100px;
    margin-top: 50px;

    .addon {
      // align-items: center;
      // display: flex;
      margin: 0 auto;
      // width: 500px;

      h2 {
        font-size: 4vw;
        margin: 0;
        margin-right: 10px;
        width: 200px;
      }

      h3 {
        font-size: 2vw;
        font-style: italic;
        margin: 0;
        text-align: left;
      }

      p {
        font-size: 2vw;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .content {
    a, p {
      font-size: 22px;
    }

    .addons {
      .addon {
        h2 {
          display: inline-block;
          font-size: 32px;
          text-align: center;
        }

        h3 {
          display: inline-block;
          font-size: 26px;
          text-align: center;
        }
      }
    }
  }
}
