.app {
  text-align: center;
}

header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.guild-logo {
  max-width: 500px;
}

.discord-logo {
  background: #5865F2;
  border-radius: 20px;
  padding: 20px 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .guild-logo {
    animation: pulse infinite 3s linear;
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}