@import '../../styles/sizing.scss';

.content {
  min-height: 100vh;

  .officers {
    .officer {
      color: white;

      h2 {
        font-size: 4vw;
      }

      h3 {
        font-size: 3vw;
      }

      .portrait {
        img {
          border: 2px solid white;
          border-radius: 50%;
          width: 30%;
        }
      }
    }

    hr {
      margin: 50px auto;
      width: 50%;
    }
  }
}

@media screen and (max-width: $minPageWidth) {
  .content {
    .officers {
      .officer {
        h2 {
          font-size: 26px;
        }

        h3 {
          font-size: 24px;
        }
      }
    }
  }
}